<%= form_for(@message, url: { action: :confirm }) do |f| %>
  <div class="message-container">
    <h2>お問い合わせ</h2>

      <% if @message.errors.present? %>
        <div>
          <strong>入力内容にエラーがあります</strong>
          <ul>
            <% @message.errors.each do |attr, error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    <div class="inquiry name">
      <strong>名前</strong>
      <p><%= f.text_field :name, :class => 'field field-name',placeholder: '例) 成瀬川なる' %></p>
    </div>
    <div class="inquiry address">
      <strong>メールアドレス</strong>
      <p><%= f.text_field :email, :class => 'field field-address', placeholder: '例) narunaru@umiwatari.jp' %></p>
    </div>
    <div class="inquiry content">
      <strong>内容</strong>
      <p><%= f.text_area :content, :class => 'field field-message', placeholder: 'ご質問、ご要望があればご記入ください' %></p>
    </div>
      <%= f.submit '確認画面へ', :class => 'submit-btn' %>
    <div class="bottom-wrapper">
    <div class="container">
      <a href="tel:080-6595-6098" class="contact-phone">Tel: 080-1234-5678</a>
    </div>
  </div>
  </div>
<% end %>
